<div id="error_explanation">
<% if new_book.errors.any? %>
  <h3>
    <%= new_book.errors.count %>errors prohibited this obj from being saved:
  </h3>
  <ul>
    <% new_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>